form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
}

form>button {
  margin-top: auto;
  margin-bottom: 0.5em;
}

main {
  max-width: var(--desktop-width);
  margin: 0 auto;
  width: 100%;
}

.error-message {
  color: crimson;
}

@media screen and (min-width: 1024px) {
  form {
    gap: 1em;
  }

  input {
    align-self: flex-start;
    width: auto;
  }

  form>button {
    margin: 0;
    align-self: flex-start;
    width: auto;
  }
}